

	<div class="view animated slow" id="view-main">
		<header>
			<a id="btn-main-about" href="#/about" class="header-button header-button-left"><button>About</button></a>
			<h1 style="padding: 0 65px;">My App</h1>
			<a class="header-button header-button-icon header-button-right" id="view-main-refresh"><button><img src="assets/img/ios/refresh-icon.png" alt="Refresh" width="14" height="18"></button></a>
		</header>
		<div class="scroll" id="main-scroll">
			<section>
				
					<section>
						<h1>Hello App</h1>
				
						<p>You did it.</p>
						<div class="grouped-tableview cf">
							<p>I'm located in /www/app/templates/main.html</p>
						</div>
						<div class="grouped-tableview cf">
							<p>My Controller/View code is in /www/app/views/mainView.js</p>
						</div>
						
						<ul class="grouped-tableview grouped-tableview-links">
							<li><a href="http://google.com/" target="_blank" >Google Something</a></li>
							<li><a href="http://news.ycombinator.com" target="_blank" class="disclosure">Hacker News</a></li>
							<li><a href="mailto:will@idealab.com" target="_blank" class="disclosure">Email Will</a></li>
						</ul>
						<p class="foot-label">&lt;3 Will</p>
						<p>scroll</p>
						<p>scroll</p>
						<p>scroll</p>
						<p>scroll</p>
						<p>scroll</p>
						<p>scroll</p>
						<p>scroll</p>
						<p>scroll</p>
						<p>scroll</p>
						<p>scroll</p>
						<p>scroll</p>
					</section>
			
			</section>
			
		</div>
	</div>
	<div class="view move-flip-rl animated slow" id="view-other">
		<header>
			<a id="btn-other-close" href="#/about" class="header-button header-button-left"><button>Close</button></a>
			<h1 style="padding: 0 65px;">The backside</h1>
		</header>
		<div class="scroll" id="other-scroll">
			<section>
				Some other stuff in here now
			</section>
		</div>
	</div>